    <% include app/templates/nav %>
    <div class="container-fluid">
      <div class="content-container">
          <h2 class="heading">Projects</h2>
          <span class="pull-right task-link"><a href="javascript:void(0);">Add New Project</a></span>
         <div class="table-responsive">
         <table class="table bg-white">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Documents</th>
              <th>Team lead</th>
              <th>Members</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% if (projects.length > 0) { %>
          <% for(var i=0; i < projects.length; i++) { %>
            <% var project = projects[i]; %>  
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><a class="project_detail" href="javascript:void(0);"><%= project.title %></a></td>
                <td><%= project.description %></td>
                <td><a href="#">etc.pdf</a>,<a href="#">etc.doc</a></td>
                <td><%= project.teamLead %></td>
                <td><%= project.members.join(",") %></td>
                <td><a class="project_detail" href="javascript:void(0);">view<i class="fa fa-eye" aria-hidden="true"></i></a></td>  
              </tr>
            <% } %>
            <% } %>
          </tbody>
        </table>
      </div>